@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i");
html, body {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  font: 18px/24px 'Open Sans', sans-serif;
  min-width: 320px;
  color: #0b0b0b;
  background-color: #ffffff; }

img {
  border-style: none;
  vertical-align: top;
  max-width: 100%; }

a {
  color: #208ff6;
  text-decoration: none; }

a:hover {
  color: #1b7ad1; }

a:focus,
a:hover,
*:active,
*:hover,
*:visited,
*:focus,
* {
  outline: none !important; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden;
  position: relative;
  padding: 20px; }

.center-wrapper {
  margin: 0 auto;
  max-width: 1000px; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsbUZBQVk7QUFDWjtFQUNFLGdCQUFnQjtFQUNoQiwrQkFBK0I7RUFDL0IsMkJBQTJCO0VBQzNCLG9DQUFvQztFQUNwQyxtQ0FBbUMsRUFBRzs7QUFFeEM7RUFDRSxVQUFVO0VBQ1Ysd0NBQXdDO0VBQ3hDLGlCQUFpQjtFQUNqQixlQUFlO0VBQ2YsMEJBQTBCLEVBQUc7O0FBRS9CO0VBQ0UsbUJBQW1CO0VBQ25CLG9CQUFvQjtFQUNwQixnQkFBZ0IsRUFBRzs7QUFFckI7RUFDRSxlQUFlO0VBQ2Ysc0JBQXNCLEVBQUc7O0FBRTNCO0VBQ0UsZUFBZSxFQUFHOztBQUVwQjs7Ozs7OztFQU9FLHlCQUF5QixFQUFHOztBQUU5QjtFQUNFLHVCQUF1QixFQUFHOztBQUM1QjtFQUNFLGlCQUFpQjtFQUNqQixtQkFBbUI7RUFDbkIsY0FBYyxFQUNmOztBQUNEO0VBQ0UsZUFBYztFQUNkLGtCQUFrQixFQUNuQiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IHVybCgnaHR0cHM6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3M/ZmFtaWx5PU9wZW4rU2Fuczo0MDAsNDAwaSw3MDAsNzAwaScpO1xuaHRtbCwgYm9keSB7XG4gIGZvbnQtc2l6ZTogMTAwJTtcbiAgLXdlYmtpdC10ZXh0LXNpemUtYWRqdXN0OiAxMDAlO1xuICAtbXMtdGV4dC1zaXplLWFkanVzdDogMTAwJTtcbiAgLXdlYmtpdC1mb250LXNtb290aGluZzogYW50aWFsaWFzZWQ7XG4gIC1tb3otb3N4LWZvbnQtc21vb3RoaW5nOiBncmF5c2NhbGU7IH1cblxuYm9keSB7XG4gIG1hcmdpbjogMDtcbiAgZm9udDogMThweC8yNHB4ICdPcGVuIFNhbnMnLCBzYW5zLXNlcmlmO1xuICBtaW4td2lkdGg6IDMyMHB4O1xuICBjb2xvcjogIzBiMGIwYjtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2ZmZmZmZjsgfVxuXG5pbWcge1xuICBib3JkZXItc3R5bGU6IG5vbmU7XG4gIHZlcnRpY2FsLWFsaWduOiB0b3A7XG4gIG1heC13aWR0aDogMTAwJTsgfVxuXG5hIHtcbiAgY29sb3I6ICMyMDhmZjY7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTsgfVxuXG5hOmhvdmVyIHtcbiAgY29sb3I6ICMxYjdhZDE7IH1cblxuYTpmb2N1cyxcbmE6aG92ZXIsXG4qOmFjdGl2ZSxcbio6aG92ZXIsXG4qOnZpc2l0ZWQsXG4qOmZvY3VzLFxuKiB7XG4gIG91dGxpbmU6IG5vbmUgIWltcG9ydGFudDsgfVxuXG4qIHtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDsgfVxuI3dyYXBwZXJ7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgcGFkZGluZzogMjBweDtcbn1cbi5jZW50ZXItd3JhcHBlcntcbiAgbWFyZ2luOjAgYXV0bztcbiAgbWF4LXdpZHRoOiAxMDAwcHg7XG59Il0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */
