@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
html, body {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  font: 18px/24px 'Open Sans', sans-serif;
  min-width: 320px;
  color: #0b0b0b;
  background-color: #ffffff; }

img {
  border-style: none;
  vertical-align: top;
  max-width: 100%; }

a {
  color: #208ff6;
  text-decoration: none; }

a:hover {
  color: #1b7ad1; }

a:focus,
a:hover,
*:active,
*:hover,
*:visited,
*:focus,
* {
  outline: none !important; }

* {
  box-sizing: border-box; }
#wrapper{
  overflow: hidden;
  position: relative;
  padding: 20px;
}
.center-wrapper{
  margin:0 auto;
  max-width: 1000px;
}
.text-right {
   text-align: right;   
}
.text-center {
   text-align: center;   
}
.table .disable{
  color:#ccc;
}
.clock {
  border-radius: 50%;
  background: #eee;
  background-size: 88%;
  height: 20em;
  padding-bottom: 31%;
  position: relative;
  width: 20em;
   @for $i from 1 through 360 {
      [data-progress="#{$i}"]{
        transform: rotate(#{$i}deg);
      }
    }
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}
.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}
.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}




 