<!DOCTYPE html>
<html ng-app="appModule">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="format-detection" content="telephone=no"/>
		<title>lesson1</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script>
			var app = angular.module('appModule',[]);
			app.controller('MainController',['$scope', function ($scope) {
				$scope.table = {
					name: ["Рис","Гречка","Конопля","Пшеница","Ячьмень"],
					status: ["Есть","Нет","Есть","Нет","Есть"]
				}
				$scope.isActive = false;
				$scope.toggleActive = function(){
					$scope.isActive = !$scope.isActive;
				}
			}]);
		</script>
	</head>
	<body ng-controller="MainController">
		<div id="wrapper">
			<div class="center-wrapper">
				<h1>Урок №1</h1>
				<h2>Показать - Скрыть</h2>
				<form class="panel" action="#">
					<br/>
					<div class="input-group">
						<span class="input-group-btn">
							<button ng-click="toggleActive()" class="btn btn-default">
								<span ng-hide="isActive">Показать</span>
								<span ng-show="isActive">Скрыть</span>
							</button>
						</span>
					</div>
					<br/>
					<table class="table table-hover" ng-if="isActive">
						<tr ng-repeat="i in table.name">
							<th>{{$index+1}}. {{table.name[$index]}}</th>
							<th>{{table.status[$index]}}</th>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</body>
</html>